<app-header></app-header>
<div role="main" class="main container">
  <div class="row">
    <div class="col-12 text-center">
      <select
        class="form-select mb-2 text--primary"
        aria-label="View by continent"
        (change)="continentChange($event.target.value)"
      >
        <option value="All" selected>All</option>
        <option value="Africa">Africa</option>
        <option value="Antarctica">Antarctica</option>
        <option value="Asia">Asia</option>
        <option value="Europe">Europe</option>
        <option value="North America">North America</option>
        <option value="Oceania">Oceania</option>
        <option value="South America">South America</option>
      </select>
      <div class="subtext-container mb-4">
        <p class="text--tertiary">view by continent</p>
        <button class="reset btn" (click)="resetData()">
          <i class="reset__icon fa-solid fa-trash text--tertiary"></i>
        </button>
        <div *ngIf="alertMessage" class="alert alert-warning" role="alert">
          <p class="h4 mb-0">Reset Checked Data</p>
          <p class="mb-2">
            Are you sure? This will clear ALL checked countries/territories.
          </p>
          <div class="row">
            <div class="col-6">
              <button
                class="cancel btn btn-secondary btn-sm w-100"
                (click)="cancelReset()"
              >
                Cancel
              </button>
            </div>
            <div class="col-6">
              <button
                class="confirm btn btn-danger btn-sm w-100"
                (click)="confirmReset()"
              >
                Yes
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="list">
        <div
          *ngFor="let country of countries"
          class="checkbox"
          tabindex="0"
          (keypress)="countryKeypress($event, country.name)"
        >
          <input
            id="{{ country.name }}"
            class="checkbox__input"
            name="{{ country.name }}"
            type="checkbox"
            value="{{ country.name }}"
            (change)="countryChange(country.name, $event.target.checked)"
            [checked]="country.checked"
          />
          <label class="checkbox__label" for="{{ country.name }}">{{
            country.name
          }}</label>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
