<app-header></app-header>
<div role="main" class="main container">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="user text-center">
        <p class="fs-4 text--primary">
          You have visited {{ selectedCountries.length }} ({{
          selectedCountries.length / numCountries | percent
          }}
          of {{ numCountries }}) countries/territories.
        </p>
        <ul class="user__list">
          @for (selected of selectedCountries; track selected) {
            <li>{{ selected }}</li>
          }
        </ul>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
