// PRESET VARIABLES
@use "../../../sass/presets" as *;

.navbar {
  height: 4rem;
  padding: 0;
  &.navbar--grey {
    background-color: $colorLightGrey;
    border-top: 0.0625rem solid $colorMediumGrey;
  }
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .fa,
  .fas,
  .far,
  .fal,
  .fad,
  .fab,
  .fa-solid {
    font-size: 1.25rem;
  }
  .nav-link {
    color: $colorDarkGrey;
    display: inline-block;
    font-size: 0.75rem;
    &.active {
      i {
        color: $colorQuaternary;
      }
    }
  }

  // non-touchscreens
  @media (hover: hover) {
    .nav-link {
      &:hover {
        color: $colorTertiary;
        &.active {
          i {
            color: $colorTertiary;
          }
        }
      }
    }
  }
}
