// PRESET VARIABLES
@use "sass/presets" as *;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Titillium+Web&display=swap");

html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: $titillium-web, Arial, sans-serif;
  color: $colorDarkGrey;
}
h1,
h2,
h3,
h4,
h5,
p,
button,
li,
a {
  font-weight: 400;
}
a,
a:visited {
  color: $colorDarkGrey;
  text-decoration: none;
  &:hover {
    color: $colorTertiary;
    text-decoration: underline;
  }
}
.text--primary {
  color: $colorPrimary;
}
.text--secondary {
  color: $colorSecondary;
}
.text--tertiary {
  color: $colorTertiary;
}
.text--quaternary {
  color: $colorQuaternary;
}
.text--red {
  color: $colorRed;
}
