// PRESET VARIABLES
@use "../../../sass/presets" as *;

.footer {
  margin-top: 2.5rem;
  padding-bottom: 4.5rem;
  .footer__p {
    font-size: 0.75rem;
  }
}

@media (min-width: 768px) {
  .footer {
    margin-top: 3.5rem;
    padding-bottom: 5.5rem;
  }
}
